/* 主题列表头像 */
td:has(> a > img.avatar),
td:has(> a > img.avatar) + td {
  display: none !important;
}

/* 评论区头像 */
td:has(> img.avatar),
td:has(> img.avatar) + td {
  display: none !important;
}

/* user name*/
td > strong > .dark {
  color: #1ba784 !important;
}
