/* 主题列表头像 */
#Main > div:nth-child(2) > div.item > table > tbody > tr > td:nth-last-child(3),
#Main
  > div:nth-child(2)
  > div.item
  > table
  > tbody
  > tr
  > td:nth-last-child(4) {
  display: none;
}

/* 右侧列表头像 */
#my-recent-topics table > tbody > tr > td:nth-child(1),
#TopicsHot table > tbody > tr > td:nth-child(1) {
  display: none;
}

/* 评论区头像 */
#Main
  > div:nth-child(4)
  > div.cell
  > table
  > tbody
  > tr
  > td:nth-child(1)[align="center"] {
  display: none;
}
