* {
  box-shadow: unset !important;
}

#Wrapper,
.topic_buttons {
  background: unset !important;
}

.box,
#Main .box,
#Top,
#Tabs,
#Wrapper,
#Bottom {
  background-image: unset !important;
  border: none !important;
}

.cell,
.box,
.super.button,
div[style*="border"] {
  border: unset !important;
  background-image: unset !important;
}

.count_livid {
  padding: 0 !important;
  margin-right: 0 !important;
  color: #999 !important;
  font-family: "Bender" !important;
  background-color: unset !important;
}
