.wwads-cn {
  display: none !important;
}

#Tabs > a:nth-child(4),
#Tabs > a:nth-child(5),
#Tabs > a:nth-child(6),
#Tabs > a:nth-child(7),
#Tabs > a:nth-child(13) {
  display: none;
}

#Tabs > a {
  min-width: 3.5em;
}
